:root {
  --first-title-color: #2e2f42;
  --first-btn-color: #ffffff;
  --main-text-color: #434455;
  --accent-color: #4d5ae5;
  --icon-hover-color:#404BBF;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

p,h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
}

ul,ol {
  margin: 0;
  padding: 0;
}


body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* -----logo------ */
.container {
  width: 1158px; 
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

}
.header {
  
  padding-top: 24px;
  padding-bottom: 24px;
  border: 1px solid #E7E9FC;
  background-color: #FFFFFF;
   
}

.header-list {
  display: flex;
  gap: 30px;
  
}
.header-container {
  display: flex;
  align-items: center;

}
.header-navigatio {
  display: flex;
  align-items: center;
  margin-right: auto;

}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-right: 76px;
}
.logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color)
}

/* ------header---- */


.header-link {
  padding-bottom: 27px;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  transition: color var(--transition-duration-and-func);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link.current {

  color: var(--accent-color);
}

.header-link.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404BBF;
}

.heading-texte {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.mailto { 
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-right: 30px;
  transition: color var(--transition-duration-and-func);
}
.mailto:hover,
.mailto:focus {
  color: var(--accent-color);
}

.phone {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color var(--transition-duration-and-func);
}
.phone:hover,
.phone:focus {
  color: var(--accent-color);
}

/* ------hero------- */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--first-title-color); 
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  height: 600px;
  margin: 0 auto;
}


.hero-title {
  width: 496px;
  height: 120px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--first-btn-color);
  align-items: center;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-btn {
  min-width: 169px;
  height: 56px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--first-btn-color);
  border: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  transition: background-color var(--transition-duration-and-func);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--icon-hover-color);

}

/* ------heading---- */
.heading {
  padding-bottom: 120px;
  padding-top: 120px;
}
.heading-list {
  display: flex;
  gap: 24px;
}
.heading-link {
  width: 100%;
  height: 100%;
  background-color: #F4F4FD;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .heading-icon { 
    height: 112px;
    width: 264px;
    border-radius: 4px;
    background-color: #F4F4FD
  }
.heading-icon {
 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
 
}
.heading-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-bottom: 8px;
  

}
.heading-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
 

}
/* ----main------ */
.main {
  padding-bottom: 120px;

}
.main-list {
  display: flex;
  gap: 24px;
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-bottom: 72px;
  text-align: center;
}

/* -----body------ */
.body {
  padding-bottom: 120px;
  padding-top: 120px;
  background-color: #f4f4fd;
}

.body-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-bottom: 72px;
  text-align: center;
}
.body-list {
  display: flex;
  gap: 24px; 
  
}
.body-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.body-new-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-bottom: 8px;
  text-align: center;
}
.body-new-text {
 
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 8px;
}
.body-wrap {
  align-items: center;
 padding: 32px 16px  32px;
 border: 0,5px solid #E7E9FC;
 border-top: none;
 background-color: var(--first-btn-color);
}
.body-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;

}
.body-soc-item {
width: 40px;
height: 40px;
}
.body-soc-link {
width: 100%;
height: 100%;
background-color: var(--accent-color);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color var(--transition-duration-and-func);
}
.body-soc-icon {
  fill: var(--first-btn-color);
}


.body-soc-link:hover,
.body-soc-link:focus {
  background-color: var(--icon-hover-color);
}
/* ------------customers--------- */
.customers {
  padding-top: 190px;
  padding-bottom: 120px;
  background-color: var(--first-btn-color);
}
.customers-title {
  font-weight: 700;
font-size: 36px;
line-height: 1,11;
text-align: center;
letter-spacing: 0.02em;
color: var(--first-title-color);
margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-item {
  width: calc((100% - 120px)/6);
  height: 88px;
 
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill:#8E8F99 ;
  transition: border-color var(--transition-duration-and-func), fill var(--transition-duration-and-func);
}
.customers-link:hover,
.customers-link:focus {
  fill: #4d5ae5;
  border-color: var(--icon-hover-color);
}

/* -----footer----- */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--first-title-color);
}
.footer-text {
  max-width: 264px;
  height: 72px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  margin-top: 16px;
}
.footer-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;

}
.logo-footer:last-child {
  margin-right: 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);

}
.footer-container {
display: flex;
}
.footer-title-logo {
  margin-right: 120px;
}

.footer-list {
  display: flex;
  gap: 16px;
}
.footer-title-icon {
  margin-right: 80px;
}
.footer-text-icon {
font-weight: 500;
font-size: 16px;
line-height: 1,50;
letter-spacing: 0.02em;
color: var(--first-btn-color);
margin-bottom: 16px;
}

.footer-item {
 width: 40px;
 height: 40px;

}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--main-text-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration-and-func);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31D0AA;
}
/* ---------------------FOOTER FORM----------------------------- */
.footer-form {
  display: flex;
}
.footer-form-p {
 
  font-weight: 500;
  font-size: 16px;
  line-height: 1,50;
  letter-spacing: 0.02em;
  color: var(--first-btn-color);
  margin-bottom: 16px;
}
.footer-form-email {
  
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2,00;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 24px;
  padding-left: 16px;
 

}
.footer-form-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 156px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--first-btn-color);
  border: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration-and-func);

}
.footer-form-submit-btn:hover {
  background: #404BBF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-email-icons {
margin-left: 8px; 
}
/* -----------portfolio------------------------------------- */
.portfolio {
  padding-bottom: 120px;
  padding-top: 96px;
}

.filtr-list {
display: flex;
justify-content: center;
gap: 24px;
margin-bottom: 72px;

}

.portfolio-div {
align-items: center;
 padding: 32px 16px  32px;
 border: 1px solid #E7E9FC;
 border-top: none;
 background-color: var(--first-btn-color);
   
   
}


.filtr-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  cursor: pointer;
  color: var(--accent-color);
  background-color: #f4f4fd; 
  border: 1px solid #E7E9FC;
  padding: 12px 24px;
  border-radius: 4px; 
  transition: border-color var(--transition-duration-and-func), background-color var(--transition-duration-and-func), color var(--transition-duration-and-func), box-shadow var(--transition-duration-and-func);
}

.filtr-btn:hover {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--first-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  
}

.filtr-btn:focus {
  background-color: var(--accent-color);
  color: var(--first-btn-color);
  
}

.portfolio-list {
 display: flex;
 flex-wrap: wrap;
 column-gap: 24px;
 row-gap: 48px;
 
}
.portfolio-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  width: calc((100% - 48px)/3);
  transition: box-shadow var(--transition-duration-and-func);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-link {
  display: block;
}
.portfolio-overlay {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, 100%);
  transition: transform 250ms linear;
 font-size: 16px;
 line-height: 1,50;
 letter-spacing: 0.02em;
 padding-top: 40px;
 padding-bottom: 164px;
 padding-left: 32px;
 padding-right: 32px;
 color: #F4F4FD;
 background-color: var(--icon-hover-color);

}
.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay  {
  transform: translate(0, 0);
}
/* ---------MODAL WINDOW----------------------------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-duration-and-func),visibility var(--transition-duration-and-func);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
 
  background-color: #FCFCFC;
  padding: 72px 24px 24px;

}
.modal-close-btn {
  position: absolute;
 top: 24px;
 right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #E7E9FC;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration-and-func);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404BBF;
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--first-btn-color);
}
.modal-close-btn-icon {
  transition: fill var(--transition-duration-and-func);
}
/* -----------------MODAL FORM----------------------- */

 .modal-p {
  display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
text-align: center;
letter-spacing: 0.02em;
color: var(--first-title-color);
margin-bottom: 16px;
 }

 .modal-form {
  display: flex;
  flex-direction: column;
 }
 .modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: fill var(--transition-duration-and-func);
 }
 .modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
 }
 .modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
 }
 .modal-form-input-desc {
  display: block;
   font-size: 12px;
   line-height: 1.33;
   letter-spacing: 0.04em;
   color: #8E8F99;
   margin-bottom: 4px;
 }
 .modal-form-input-wrapper {
  position: relative;
 }
 .modal-form-field {
  margin-bottom: 8px;
 }
 .modal-form-field-comment {
  margin-bottom: 16px;
 }
 .modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  display: block;
  width: 18px;
  height: 24px;
  fill: var(--first-title-color);

 }
 .modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color var(--transition-duration-and-func);
 }

 .modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1,33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
 }

 .modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
 }

 .modal-form-check-dasc {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;

 }

 .modal-form-check-a {
  font-size: 12px;
  line-height: 1,33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
  color: var(--accent-color);
  
 }

 .modal-form-check-dasc::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--first-title-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
 }
 .modal-form-check:checked + .modal-form-check-dasc::before {
background-color: var(--accent-color);
background-image: url(../images/vector.png);
background-repeat: no-repeat;
background-position: center;
border: 1.25px solid var(--icon-hover-color);
border-radius: 2px;

 }
 .modal-form-check:focus + .modal-form-check-dasc::before {
 background-color:var(--icon-hover-color);
 background-image: url(../images/vector.png);
background-repeat: no-repeat;
background-position: center;
border: 1.25px solid var(--icon-hover-color);
border-radius: 2px;

 }
 .visuallu-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
 }
 .modal-form-submit-btn {
  min-width: 169px;
  height: 56px;
  align-self: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.50;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--first-btn-color);
  border: transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  margin: 0 auto;
  transition: background-color var(--transition-duration-and-func);

}
